venv
.idea
frontend/node_modules
__pycache__
frontend/public/tongue
frontend/dist
application/net/weights/
node_modules
AppDatabase.db
*.db
.env
server.out.log
server.err.log
*.exe
*.dmg
*.pkg
*.zip
*.7z
*.tar.gz